FASE 2/BCR.SIGANEM/BCR.SIGANEM.WS/App_WebReferences/BCRClientesWCF/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioConsulta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioConsulta_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BCR.BCRClientes.ServicioConsulta.ETL" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioConsulta_ConsultarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_ConsultarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_ConsultarClienteXml_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarClienteXml" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_ConsultarClienteXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarClienteXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_ConsultarTiposId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTiposId" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_ConsultarTiposId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTiposIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_ConsultarTiposIdXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTiposIdXML" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_ConsultarTiposIdXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTiposIdXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_ConsultarDatosCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDatosCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_ConsultarDatosCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDatosClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioConsulta">
    <wsdl:operation name="ConsultarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsulta/ConsultarCliente" message="tns:IServicioConsulta_ConsultarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsulta/ConsultarClienteResponse" message="tns:IServicioConsulta_ConsultarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarClienteXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsulta/ConsultarClienteXml" message="tns:IServicioConsulta_ConsultarClienteXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsulta/ConsultarClienteXmlResponse" message="tns:IServicioConsulta_ConsultarClienteXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTiposId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsulta/ConsultarTiposId" message="tns:IServicioConsulta_ConsultarTiposId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsulta/ConsultarTiposIdResponse" message="tns:IServicioConsulta_ConsultarTiposId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTiposIdXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsulta/ConsultarTiposIdXML" message="tns:IServicioConsulta_ConsultarTiposIdXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsulta/ConsultarTiposIdXMLResponse" message="tns:IServicioConsulta_ConsultarTiposIdXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDatosCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsulta/ConsultarDatosCliente" message="tns:IServicioConsulta_ConsultarDatosCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsulta/ConsultarDatosClienteResponse" message="tns:IServicioConsulta_ConsultarDatosCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioConsulta" type="tns:IServicioConsulta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioConsulta/ConsultarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarClienteXml">
      <soap:operation soapAction="http://tempuri.org/IServicioConsulta/ConsultarClienteXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTiposId">
      <soap:operation soapAction="http://tempuri.org/IServicioConsulta/ConsultarTiposId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTiposIdXML">
      <soap:operation soapAction="http://tempuri.org/IServicioConsulta/ConsultarTiposIdXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDatosCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioConsulta/ConsultarDatosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServicioConsulta" type="tns:IServicioConsulta">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioConsulta_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConsultarCliente">
      <soap12:operation soapAction="http://tempuri.org/IServicioConsulta/ConsultarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarClienteXml">
      <soap12:operation soapAction="http://tempuri.org/IServicioConsulta/ConsultarClienteXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTiposId">
      <soap12:operation soapAction="http://tempuri.org/IServicioConsulta/ConsultarTiposId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTiposIdXML">
      <soap12:operation soapAction="http://tempuri.org/IServicioConsulta/ConsultarTiposIdXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDatosCliente">
      <soap12:operation soapAction="http://tempuri.org/IServicioConsulta/ConsultarDatosCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioConsulta">
    <wsdl:port name="BasicHttpBinding_IServicioConsulta" binding="tns:BasicHttpBinding_IServicioConsulta">
      <soap:address location="http://bcr0106acl91.bcr.fi.cr:12001/bcr.clientes.consultas/BCR.BCRClientes.ServicioConsulta.SVL.ServicioConsulta.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServicioConsulta" binding="tns:NetTcpBinding_IServicioConsulta">
      <soap12:address location="net.tcp://bcr0106acl91.bcr.fi.cr:14001/bcr.clientes.consultas/BCR.BCRClientes.ServicioConsulta.SVL.ServicioConsulta.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://bcr0106acl91.bcr.fi.cr:14001/bcr.clientes.consultas/BCR.BCRClientes.ServicioConsulta.SVL.ServicioConsulta.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/BCR0106ACL91.bcr.fi.cr</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>