FASE 2/BCR.SIGANEM/BCR.SIGANEM.GUI/App_WebReferences/BCRClientesWS/SiganemBCRClientesWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bancobcr.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bancobcr.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SERVICIO WEB CONSULTAS BCR CLIENTES</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bancobcr.com/">
      <s:element name="ConsultaClienteBCR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_tipoPersona" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_ipCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaClienteBCRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaClienteBCRResult" type="tns:ArrayOfBCRClientesEntidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBCRClientesEntidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BCRClientesEntidad" nillable="true" type="tns:BCRClientesEntidad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BCRClientesEntidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdSICC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescNombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaClienteRUC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_tipoBusqueda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_tipoIdentificacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_identificacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaClienteRUCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaClienteRUCResult" type="tns:ArrayOfRUCClientesEntidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRUCClientesEntidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RUCClientesEntidad" nillable="true" type="tns:RUCClientesEntidad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RUCClientesEntidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdRUC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionRUC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacionClienteRUC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescNombreRUC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaClienteSugef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_tipoIdentificacionRuc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_identificacionRuc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaClienteSugefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaClienteSugefResult" type="tns:GarantiasOperacionesClientesEntidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GarantiasOperacionesClientesEntidad">
        <s:complexContent mixed="false">
          <s:extension base="tns:GarantiasOperacionesConsultaEntidad">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionSICC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentificacionSICC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NombreClienteSICC" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaConstitucionSICC" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaVencimientoSICC" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="OficinaDeudorSICC" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="EstadoOperacionSICC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionRUC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentificacionClienteRUC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoriaRiesgoDeudor" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Saldo" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="SaldoColonizado" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="SaldoOriginal" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="SaldoOriginalColonizado" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="IndDesembolso" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentificacionSugef" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionSugef" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IndMetodoInsercion" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaIngreso" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="CodUsuarioIngreso" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DesUsuarioIngreso" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaUltimaModificacion" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="CodUsuarioUltimaModificacion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DesUsuarioUltimaModificacion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GarantiasOperacionesConsultaEntidad">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoOperacion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Conta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Oficina" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Producto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaClienteBCRSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaClienteBCR" />
  </wsdl:message>
  <wsdl:message name="ConsultaClienteBCRSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaClienteBCRResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaClienteRUCSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaClienteRUC" />
  </wsdl:message>
  <wsdl:message name="ConsultaClienteRUCSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaClienteRUCResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaClienteSugefSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaClienteSugef" />
  </wsdl:message>
  <wsdl:message name="ConsultaClienteSugefSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaClienteSugefResponse" />
  </wsdl:message>
  <wsdl:portType name="SiganemBCRClientesWSSoap">
    <wsdl:operation name="ConsultaClienteBCR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PROCEDIMIENTO: CONSULTA CLIENTE EN BCR CLIENTES</wsdl:documentation>
      <wsdl:input message="tns:ConsultaClienteBCRSoapIn" />
      <wsdl:output message="tns:ConsultaClienteBCRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaClienteRUC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PROCEDIMIENTO: CONSULTA CLIENTE SICC EN BCR CLIENTES RETORNANDO EL CLIENTE RUC</wsdl:documentation>
      <wsdl:input message="tns:ConsultaClienteRUCSoapIn" />
      <wsdl:output message="tns:ConsultaClienteRUCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaClienteSugef">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PROCEDIMIENTO: CONSULTA CLIENTE RUC EN BCR CLIENTES RETORNANDO EL CLIENTE SUGEF</wsdl:documentation>
      <wsdl:input message="tns:ConsultaClienteSugefSoapIn" />
      <wsdl:output message="tns:ConsultaClienteSugefSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SiganemBCRClientesWSSoap" type="tns:SiganemBCRClientesWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaClienteBCR">
      <soap:operation soapAction="http://bancobcr.com/ConsultaClienteBCR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaClienteRUC">
      <soap:operation soapAction="http://bancobcr.com/ConsultaClienteRUC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaClienteSugef">
      <soap:operation soapAction="http://bancobcr.com/ConsultaClienteSugef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SiganemBCRClientesWSSoap12" type="tns:SiganemBCRClientesWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaClienteBCR">
      <soap12:operation soapAction="http://bancobcr.com/ConsultaClienteBCR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaClienteRUC">
      <soap12:operation soapAction="http://bancobcr.com/ConsultaClienteRUC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaClienteSugef">
      <soap12:operation soapAction="http://bancobcr.com/ConsultaClienteSugef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiganemBCRClientesWS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SERVICIO WEB CONSULTAS BCR CLIENTES</wsdl:documentation>
    <wsdl:port name="SiganemBCRClientesWSSoap" binding="tns:SiganemBCRClientesWSSoap">
      <soap:address location="http://desiganem-app:12000/SiganemBCRClientesWS.asmx" />
    </wsdl:port>
    <wsdl:port name="SiganemBCRClientesWSSoap12" binding="tns:SiganemBCRClientesWSSoap12">
      <soap12:address location="http://desiganem-app:12000/SiganemBCRClientesWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>